/* general */

body {
    background-image: url(../images/background.png);
    font-family: Arial, sans-serif;
    font-size: 30px;
    text-align: center;
}

.logo {
    display: block;
    margin-top: -100px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 20%;
}

h1 {
    font-size: 35px;
}